@using DNTPersianUtils.Core
@model ListViewModel
<h1> Product List</h1>
<table border="1" width="100%">
    <thead>
    <tr>
        <th>Image</th>
        <th>Creation Date</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <img style="width: 64px;" src="@Url.Action("ShowImage","Product",new {productId=product.Id})"/>
                </td>
                <td>@product.CreationDateTime.ToShortPersianDateString()</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Rate</td>
                <td>
                    <a asp-controller="Product" asp-action="Details" asp-route-productId="@product.Id">Details</a>

                </td>
            </tr>
        }
    }
    </tbody>
</table>

@{

    var page = 1;
    var pageString = Context.Request.Query["page"].ToString();
    if (!String.IsNullOrEmpty(pageString))
    {
        page = int.Parse(pageString);
    }

    if (page > 1)
    {
        <a asp-controller="Product" asp-action="List" asp-route-page="@(page-1)">Prev</a>
    }

    if (page < Model.TotalPage)
    {
        <a asp-controller="Product" asp-action="List" asp-route-page="@(page+1)">Next</a>
    }
}

@Model.TotalProducts Product(s) Is Available.
